/**
 * Animations.
 */
.edit-animate-invisible {
  opacity: 0 !important;
}

.edit-animate-fast {
-webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
    -ie-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}

.edit-animate-default {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ie-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}

.edit-animate-slow {
-webkit-transition: all .6s ease;
   -moz-transition: all .6s ease;
    -ie-transition: all .6s ease;
     -o-transition: all .6s ease;
        transition: all .6s ease;
}

.edit-animate-delay-veryfast {
  -webkit-transition-delay: .05s;
}

.edit-animate-delay-fast {
  -webkit-transition-delay: .2s;
}

.edit-animate-delay-default {
  -webkit-transition-delay: .4s;
}

.edit-animate-delay-slow {
  -webkit-transition-delay: .6s;
}

.edit-animate-disable-width {
  -webkit-transition: width 0s;
}


.edit-animate-exception-grow {
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
      -ie-transition: all .2s linear;
       -o-transition: all .2s linear;
          transition: all .2s linear;
  -webkit-transition-delay: 0s;
}

/**
 * View/edit mode toggle.
 */

/* TODO: replace this with a "physical toggle" instead of the current radios.*/
#edit_view-edit-toggle .form-item {
  float: left;
  margin-right: 1em;
  margin-top: .5em;
}




/**
 * Edit mode: overlay + candidate editables + editables being edited.
 *
 * Note: every class is prefixed with "edit-" to prevent collisions with modules
 * or themes. In IPE-specific DOM subtrees, this is not necessary.
 */

#edit_overlay {
  position: fixed;
  z-index: 250;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  top: 64px; /* offset for toolbar -> TODO: use Drupal.toolbar.height() */
  left: 0px;
}

/* Editable. */
.edit-editable {
  z-index: 300;
  position: relative;
}
.edit-editable.edit-entity {
  box-shadow: 0px 0px 1px 1px #FFF;
}
.edit-field.edit-editable,
.edit-field.edit-type-direct .edit-editable {
  box-shadow: 0px 0px 1px 1px #4D9DE9;
}

/* Highlighted (hovered) editable. */
.edit-editable.edit-highlighted {
  min-width: 200px; /* TODO: we even need them to be at least fairly wide! */
}
.edit-field.edit-editable.edit-highlighted,
.edit-form.edit-editable.edit-highlighted,
.edit-field.edit-type-direct .edit-editable.edit-highlighted {
  box-shadow: 0px 0px 1px 1px #0199FF, 0px 0px 3px 3px rgba(153, 153, 153, .5);
}
.edit-editable.edit-entity.edit-highlighted {
  box-shadow: 0px 0px 1px 1px #0199FF, 0px 0px 3px 3px rgba(153, 153, 153, .5);
}

/* Editing (focused) editable. */
.edit-form.edit-editable.edit-editing,
.edit-field.edit-type-direct .edit-editable.edit-editing {
  /* In the latest design, there's no special styling when editing as opposed to
     just hovering. */
}

/* Curtain. */
.edit-editable.edit-entity .edit-curtain {
  position: absolute;
  z-index: 350;
  width: 100%;
  height: 0px; /* The JS will set the correct number of pixels. */
  background-color: white;
  opacity: .5;
}




/**
 * Edit mode: modal.
 */
#edit_modal {
  z-index: 350;
  position: fixed;
  top: 40%;
  left: 40%;
  box-shadow: 3px 3px 5px #333;
  background-color: white;
  border: 1px solid #0199FF;
  font-family: 'Droid sans', 'Lucida Grande', sans-serif;
}

#edit_modal .main {
  font-size: 130%;
  margin: 25px;
  padding-left: 40px;
  background: transparent url('../images/attention.png') no-repeat;
}

#edit_modal .actions {
  border-top: 1px solid #ddd;
  padding: 3px inherit;
  text-align: right;
  background: #f5f5f5;
}

/* Modal active: prevent user from interacting with toolbar & editables. */
.edit-toolbar-container.edit-belowoverlay {
  z-index: 210;
}
.edit-editable.edit-belowoverlay {
  z-index: 200;
}




/**
 * Edit mode: form.
 */
#edit_backstage {
  display: none;
}

.edit-form {
  position: absolute;
  z-index: 300;
  box-shadow: 0 0 30px 4px #4F4F4F;
  max-width: 35em;
}

.edit-form .placeholder {
  min-height: 22px;
}

/* Default form styling overrides. */
.edit-form form { padding: 1em; }
.edit-form .form-item { margin: 0; }
.edit-form .form-wrapper { margin: .5em; }
.edit-form .form-actions { display: none; }
.edit-form input { max-width: 100%; }




/**
 * Edit mode: toolbars
 */

/* Trick: wrap statically positioned elements in relatively positioned element
   without changing its location. This allows us to absolutely position the
   toolbar.
*/
.edit-toolbar-container,
.edit-form-container {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  z-index: 310;
}

/* The toolbar; these are not necessarily visible. */
.edit-toolbar {
  position: absolute;
  top: -35px;
  height: 35px;
  clip: rect(-1000px, 10000px, 35px, -1000px); /* Remove bottom box-shadow. */
  font-family: 'Droid sans', 'Lucida Grande', sans-serif;
}
.edit-toolbar.primary {
  left: 0px; /* LTR */
}
.edit-toolbar.secondary {
  right: 0px; /* LTR */
}
.edit-toolbar.tertiary {
  top: 0px;
  height: 0px;
  clip: auto;
  background: red; /* temporary */
}


/* The toolbar contains toolgroups; these are visible. */
.edit-toolgroup {
  float: left; /* LTR */
  padding-left: 5px; /* LTR */
  box-shadow: 0px 0px 1px 1px #999, 0px 0px 3px 3px rgba(153, 153, 153, .5);
  background: #fff url('../images/throbber.gif') no-repeat -60px 60px;
}

/* Entity toolgroup. */
.edit-toolgroup.entity,
.edit-toolgroup.info {
  float: left; /* LTR */
  box-shadow: 0px 0px 1px 1px #0199FF, 0px 0px 3px 3px rgba(153, 153, 153, .5);
}
.edit-toolgroup.entity.loading,
.edit-toolgroup.info.loading {
  background-position: 90% 50%;
}
.edit-toolgroup.info.loading a {
  margin-right: 35px;
}

/* Operations toolgroup. */
.edit-toolgroup.ops {
  float: right; /* LTR */
}




/**
 * Edit mode: buttons (in both modal and toolbar).
 */
#edit_modal a,
.edit-toolbar a {
  float: left; /* LTR */
  display: block;
  height: 21px;
  min-width: 21px;
  padding: 3px 6px 3px 6px;
  margin: 4px 5px 1px 0;
  border: 1px solid #fff;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}
#edit_modal a {
  float: none;
  display: inline-block;
}

#edit_modal a:link,
#edit_modal a:visited,
#edit_modal a:hover,
#edit_modal a:active,
.edit-toolbar a:link,
.edit-toolbar a:visited,
.edit-toolbar a:hover,
.edit-toolbar a:active {
  text-decoration: none;
}

/* Button with icons. */
#edit_modal a span,
.edit-toolbar a span {
  width: 22px;
  height: 19px;
  display: block;
  float: left;
}
.edit-toolbar a span.close {
  background: url('../images/close.png') no-repeat 2px 2px;
}

.edit-toolbar a span.close:hover {
  /* TODO: use a different "close" image */
}


.edit-toolbar a.blank-button {
  color: black;
}

#edit_modal a.blue-button,
.edit-toolbar a.blue-button {
  color: white;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0);
}

#edit_modal a.gray-button,
.edit-toolbar a.gray-button {
  color: #666;
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0);
}

#edit_modal a img.gray-button.close img, .gray-button.save img, .blue-button.save img,
.edit-toolbar a img.gray-button.close img, .gray-button.save img, .blue-button.save img {
  padding: 0;
}

.gray-button img, .blue-button img,
.gray-button img, .blue-button img {
  padding-right: 5px;
}

#edit_modal a.blue-button:hover,
.edit-toolbar a.blue-button:hover {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  border-color:rgb(85,165,211);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

#edit_modal a.gray-button:hover,
.edit-toolbar a.gray-button:hover {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  border-color:rgb(205,205,205);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true);
}

#edit_modal a.blue-button:active,
.edit-toolbar a.blue-button:active {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(93% 4% -90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,93% 4%,93% 81%,color-stop(0, rgb(111,194,242)),color-stop(1, rgb(78,151,192)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  background-image:linear-gradient(-90deg,rgb(111,194,242) 0%,rgb(78,151,192) 100%);
  /*	width:66px;
  height:24px;*/
  border-color:rgb(85,165,211);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6fc2f2,endColorstr=#ff4e97c0,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

#edit_modal a.gray-button:active,
.edit-toolbar a.gray-button:active {
  /* Firefox v3.6+ */
  background-image:-moz-linear-gradient(26% 0% -90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* safari v4.0+ and by Chrome v3.0+ */
  background-image:-webkit-gradient(linear,26% 0%,26% 94%,color-stop(0, rgb(245,245,245)),color-stop(1, rgb(204,204,204)));
  /* Chrome v10.0+ and by safari nightly build*/
  background-image:-webkit-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* Opera v11.10+ */
  background-image:-o-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  /* IE v10+ */
  background-image:-ms-linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  background-image:linear-gradient(-90deg,rgb(245,245,245) 0%,rgb(204,204,204) 100%);
  border-color:rgb(205,205,205);
  border-width:1px;
  /* Firefox v1.0+ */
  -moz-border-radius:5px ;
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-border-radius:5px ;
  /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
  border-radius:5px ;
  border-style:solid;
  /* Firefox v3.5+ */
  -moz-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Safari v3.0+ and by Chrome v0.2+ */
  -webkit-box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  /* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
  box-shadow:0px 2px 1px rgba(0,0,0,0.1);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff5f5f5,endColorstr=#ffcccccc,GradientType=0)
    progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#1a000000,Positive=true);
}
